* {
  margin: 0;
}

body {
  font-family: arial;
}

header {
  display: flex;
  justify-content: flex-end;
}

header div {
  display: flex;
  align-items: center;
  gap: 16px;
}

header a {
  color: black;
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

.header-img {
  width: 32px;
  padding: 5px;
}

.apps-icon:hover {
  background-color: lightgray;
  border-radius: 100%;
}

.user-img {
  border-radius: 100%;
  padding: 1px;
  border-top: 2px solid red;
  border-right: 2px solid blue;
  border-bottom: 2px solid green;
  border-left: 2px solid yellow;
}

.user-img:hover::after {
  content: "hey";
  background-color: darkgray;
  color: white;
  border-radius: 4px;
  padding: 20px;
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 140px;
}

.google-image {
  transition: 0.4s ease-in all;
}

.search {
  border: 2px solid black;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 0 10px;
}

.search:hover {
  box-shadow: 0 0 8px lightgray;
}

.search-input {
  border: none;
  width: 400px;
  font-size: 22px;
  padding: 8px 8px;
}

.search-input:focus {
  outline: none;
}

.search-img {
  width: 22px;
}

.actions {
  margin-top: 20px;
}

.actions-button {
  padding: 12px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  margin: 0 10px;
  border: 1px solid transparent;
}

.actions-button:hover {
  border: 1px solid lightgray;
  box-shadow: 0px 0px 8px lightgray;
}

.actions-button:active {
  transform: translateY(1px);
}

footer {
  background-color: lightgray;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

.footer-box-one {
  border-bottom: 1px solid black;
  padding: 20px;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.footer-box div {
  display: flex;
  gap: 20px;
}
